fastapi
uvicorn
numpy
pillow
torch
torchvision
tqdm
opencv-python
scikit-image
matplotlib
addict
dlib-bin
joblib
scikit-learn
imageio
lpips
wandb
typing_extensions
git+https://github.com/openai/CLIP.git
gdown
dill
